<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email list</title>
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- MY CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- VueJs -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- VueAXIOS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <!-- MY JS -->
    <script src="js/script.js"></script>
  </head>
  <body>
    <div id="app">

      <!-- Ricerca del films -->
      <header>

        <div class="bar-search">
          <!-- Logo -->
          <div class="logo-flix">
            <img src="img/flix.png" alt="NetFlix">
          </div>
          <div>
            <input type="text" name="" value="" placeholder="Search" v-model='search'>
            <button type="button" name="button" @click='submit'>Search</button>
          </div>
        </div>

      </header>

      <!-- Main con film trovati -->
      <main>

        <div class="container">
          <h1 class="headline">{{headline1}}</h1>
          <!-- Films -->
          <ul>
            <li v-for='film in films' class="films-container">
              <img class="no-image" v-if='film.poster_path == null' src="img/no-image.png" alt="">
              <img class="cover" v-else :src="'https://image.tmdb.org/t/p/w342' + film.poster_path" alt="Cover">
              <div class="film-description">
                <h3>Title: {{film.title}}</h3>
                <h3>Title-Original: {{film.original_title}}</h3>
                <h3 class="img-flag" v-if='film.original_language == "en" || film.original_language == "it"' v-html="flag(film.original_language)"></h3>
                <h3 v-else >Language: {{film.original_language}}</h3>
                <h3>Rating: <i v-for ="(star, index) in 5" :class=" value(film.vote_average) > index ? 'fas fa-star' : 'far fa-star'"></i> {{film.vote_average}}</h3>
                <h3 v-if="film.overview.length < 600">Overwiew: {{film.overview.slice(0, 600)}}</h3>
                <h3 v-else>Overwiew: {{film.overview.slice(0, 600)}}...</h3>
              </div>
            </li>
          </ul>
          <h1 class="headline">{{headline2}}</h1>
          <!-- Serials -->
          <ul>
            <li v-for='serial in serials' class="films-container">
              <img class="no-image" v-if='serial.poster_path == null' src="img/no-image.png" alt="">
              <img class="cover" v-else :src="'https://image.tmdb.org/t/p/w342' + serial.poster_path" alt="Cover">
              <div class="film-description">
                <h3>Title: {{serial.name}}</h3>
                <h3>Title-Original: {{serial.original_name}}</h3>
                <h3 class="img-flag" v-if='serial.original_language == "en" || serial.original_language == "it"' v-html="flag(serial.original_language)"></h3>
                <h3 v-else>Language: {{serial.original_language}}</h3>
                <h3>Rating: <i v-for ="(star, index) in 5" :class=" value(serial.vote_average) > index ? 'fas fa-star' : 'far fa-star'"></i> {{serial.vote_average}}</h3>
                <h3 v-if="serial.overview.length < 600">Overwiew: {{serial.overview.slice(0, 600)}}</h3>
                <h3 v-else>Overwiew: {{serial.overview.slice(0, 600)}}...</h3>
              </div>
            </li>
          </ul>
        </div>

      </main>

    </div>
  </body>
</html>
